{% extends 'base.html' %}

{% block content %}
<h2>Top 100 Billboard Songs</h2>

<form method="get" action="{% url 'rankings:fetch_and_display_songs' %}">
    <button type="submit">Get Data</button>
</form>

{% if songs %}
<table>
    <thead>
        <tr>
            <th>Rank</th>
            <th>Title</th>
            <th>Artist</th>
        </tr>
    </thead>
    <tbody>
        {% for song in songs %}
        <tr>
            <td>{{ song.rank }}</td>
            <td>{{ song.title }}</td>
            <td>{{ song.artist }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No songs available.</p>
{% endif %}

{% endblock %}
