{% extends "base.html" %}

{% block content %}
<h2>Song List</h2>

<form method="get" action="{% url 'rankings:update_songs' %}">
    <label for="date">Select a date:</label>
    <input type="date" id="date" name="date" value="{{ request.GET.date|default_if_none:'' }}" required>
    <button type="submit" name="action" value="filter">Filter</button>
    {% if not songs %}
        <button type="submit" name="action" value="fetch">Get Data</button>
    {% endif %}
</form>

<table>
    <thead>
        <tr>
            <th>Rank</th>
            <th>Peak</th>
            <th>Title</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Genre</th>
            <th>Release Date</th>
        </tr>
    </thead>
    <tbody>
        {% for song in songs %}
        <tr>
            <td><b>{{ song.rank }}</b></td>
            <td>{{ song.peak_position }}</td>
            <td><a href="{% url 'rankings:song_detail' song.id %}">{{ song.title }}</a></td>
            <td>{{ song.artist }}</td>
            <td>{{ song.album }}</td>
            <td>{{ song.genre }}</td>
            <td>{{ song.release_date|date:"Y-m-d" }}</td>
        </tr>
        {% empty %}
        <tr>
            No song data found.
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
